html,body{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
* {
    box-sizing: inherit;
}
*:after {
    box-sizing: inherit;
}
li{
    list-style-type:none;
}